
/* @media (max-width: 600px) {
  h1 {
    font-size: 18px;
  } */

  .image-swiper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    /* top: 49px; */
    /* position: absolute; */
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */    
  }
  

  h1 {
    font-size: 24px;
  }
 
  /* Styling for Swiper container */
  Swiper {
     /* margin-top: 20px;
    margin-top: 20px; */
    position: relative;
    width: 420px;
    height: 448px;
    left: 0px;
    /* top: 49px; */
    background: #FFFFFF;
  }
 
  /* Styling for individual Swiper slides */
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
  }

  /* Styling for the images inside Swiper slides */
  .swiper-slide img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 5px;
  }

  .artical-name{
    z-index: 10;
    position: absolute;
    width: 130px;
    height: 29px;
    left: 100px;
    top: 218px;
    font-family: 'Glory';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 29px;
    color: #000000;
  }
  .artical-no{
    z-index: 10;
    position: absolute;
    width: 63px;
    height: 29px;
    left: 240px;
    top: 218px;
    font-family: 'Glory';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 29px;
    color: #000000;
  }
  .shadow{
    z-index: 9;
    position: absolute;
width: 420px;
height: 70px;
left: calc(50% - 420px/2);
top: 190px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.97) 100%);

  }

  .main-product-detail {
    z-index: 9;
    position: absolute;
    width: 390px;
    max-height: fit-content;
    top: 250px;
    /* left: calc(50% - 420px/2); */
    right: 0px;
    bottom: 0px;
    background: #FFFFFF;
    box-shadow: 0px -8px 20px 0px #00000026;
    border-radius: 30px 30px 0px 0px;
    
  }
  .product-detail{
    display: flex;
  }

  .product-detail-sec {
    margin-right: 10%;
  }

  .size-container1 {
    margin-left: 19px;
    width: 178px;
    height: 53px;
    border: 1px solid #ded6d6;
    padding: 10px;
    text-align: center;
    border-radius: 12px;
    background: #F4F4F4;
  }

  .size-container2 {
    margin-left: 5%;
    width: 131px;
    height: 53px;
    border: 1px solid #ded6d6;
    padding: 10px;
    text-align: center;
    border-radius: 12px;
    background: #F4F4F4;
  }
  .size-label {
    width: 25px;
    height: 18px;
    left: 25px;
    top: 319px;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 1%;
    font-family: 'Glory';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17.93px;
    /* identical to box height */
    color: #000000;
  }

  .size-options {
    /* justify-content: space-between; */
    margin: auto;
    display: flex;
    margin-bottom: 10px;
  }
.collor-tees-txt{
  margin: auto;
}
  .size {
    display: flex;
    align-items: center;
    margin: auto;
    width: 41.6px;
    height: 40px;
  }

  .size a {   
    width: 41.6px;
    height: 40px;
    align-items: center;
    border: 1px solid #b3a8a8;
    justify-content: center;
    font-weight: bold;
    border-radius: 100%;
    margin-left: 5%;
    text-decoration: none;
    color: black;
    font-weight: 100;
    margin-bottom: 10px;
  }
  .m{
    position: absolute;
    left: 13%;
    /* right: 35.1%; */
    top: 11.5%;
    /* bottom: 27.5%; */
    font-family: 'Glory';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.6);
  }
  .l{
    position: absolute;
    left: 27%;
    /* right: 35.1%; */
    top: 11.5%;
    /* bottom: 27.5%; */
    font-family: 'Glory';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.6);
  }
  .xl{
    position: absolute;
    left: 38.5%;
    /* right: 35.1%; */
    top: 11.5%;
    /* bottom: 27.5%; */
    font-family: 'Glory';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.6);
  }

  .reactangle {
    width: 420px;
    height: 50px;
    left: 0px;
    top: 0px;
  }

  .menu-bar {
    z-index: 9;
    position: absolute;
    width: 35px;
    height: 35px;
    left: 20px;
    top: 20px;
  }

  .container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid #ccc; */
    /* padding: 10px; */
    max-width: 400px; /* Set the desired width of the container */
  }
  
  .header,
  .row {
    display: flex;
    align-items: center;
    position: relative;
    max-height: 50px;
  }
  
  .header {
font-family: 'Glory';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 18px;
margin-bottom: -25px;
/* identical to box height */

color: #000000;
  }
  .color-title {
    margin-right: 10px;
    font-family: 'Glory';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
      }
  
  .available-title {   
    font-family: 'Glory';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
       
    color: #000000;
  }
  
  .qty-title {
    margin-right: 50px;
    font-family: 'Glory';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    margin-left: -30px;
  }
  

  .top-row {
    display: flex;
    align-items: center;
  }
  
  .box {
    flex: 1;
    position: relative;
    height: 40px;

    /* border: 1px solid #000; */
  }
  
  .inner-box {
    position: absolute;
    left: 0%;
    right: 70.43%;
    top: 0%;
    bottom: 0%;
    width: 34px;
    height: 38px;
    /* margin:auto; */
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(156, 154, 154, 0.25);
    border-radius: 10px;
    color: #000000;
    font-weight: 700;
  }
  .inner-box span {
    position: absolute;
    left: 33.48%;
    right: 43.48%;
    top: 20.5%;
    bottom: 32.5%;
  }
  
  button {
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    
  }

  .color-box{
    flex: 1 1;
    width: -moz-fit-content;
    width: fit-content;
    max-height: 30px;
    margin-left: 20px;
    margin-right: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 4px;
    text-align: center;
  }
  .available-box{
  flex: 1;
  width: fit-content;
  max-height: 30px;
  margin-right: 10px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 4px;
  text-align: center;
}  
.qty-box {
  flex: 1;  
  background: white;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 4px;
  max-height: 30px;
  margin-right: 20px;
}
  .row .qty-box span {
    margin-right: 5px;
  }
.product-details-sec4{
  display: flex;
}
.article-ratio-container{
  position: absolute;
width: 131px;
height: 79px;
left: 20px;
/* top: 800px; */
}
.article-ratio-content{
  position: absolute;
width: 131px;
height: 43px;
/* left: 20px; */
text-align: center;
background: #F4F4F4;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
border-radius: 12px;
	

}
.artical-ration-title{
  font-family: 'Glory';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 18px;
/* text-align: center; */
color: #000000;
margin-bottom: 6%;
margin-top: 15px;
}
.article-ratio-text{
  position: absolute;
width: 56px;
height: 20px;
left: 30px;
top: 12px;

  font-family: 'Glory';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 20px;
text-align: center;
color: #626262;
}
.article-rate-container{
  position: absolute;
  width: 131px;
  height: 79px;
  left: 250px;
  /* top: 800px; */
}
.article-rate-content{
  position: absolute;
width: 131px;
height: 43px;
/* left: 20px; */
text-align: center;
background: #F4F4F4;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
border-radius: 12px;
right: 20px;
}
.artical-rate-title{
  font-family: 'Glory';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 18px;
margin-left: -15px;
color: #000000;
margin-bottom: 6%;
margin-top: 15px;
}
.article-rate-text{
  position: absolute;
width: 56px;
height: 20px;
left: 30px;
top: 10px;
  font-family: 'Glory';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 20px;
text-align: center;
color: #626262;
}
.total-price-container{
  /* display: flex; */
  width: fit-content;
  margin-top: 122px;
  margin-left: 20px;
}
.total-price-title{
  font-family: 'Glory';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;  
  color: rgba(0, 0, 0, 0.7);
}
.total-price-text{  
  font-family: 'Glory';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 20.16px;

color: #000000;
}
.add-to-card-container{
  position: relative;
width: 208px;
/* height: 50px; */
left: 150px;
top: -30px;
margin-bottom: 1px;
}
.add-to-card-container button{
  position: absolute;
  width: 200px;
  height: 45px;
background: rgba(33, 33, 33, 0.7);
border-radius: 12px;
color: #FFFFFF;

}
.add-to-card-container button :hover{
  background: #121111;
}
.cart-icon{
 margin-right: 10%;
 margin-top: -5px;
}
/* } */
