.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    top: 20%;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .column {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .pending {
    background-color: #ffddcc;
  }
  
  .completed {
    background-color: #ccffcc;
  }
  