/* Add these styles to your existing CSS or Notification.css file */

.notification {
  width: 100%;
  height: 10vh;
  border-bottom: 2px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification-conatiner {
  display: flex;
  align-items: center;
  height: 9vh;
  width: 360px;
  margin: auto;
}

.notification-center {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
}

.notification-center h1 {
  margin: 0;
  font-weight: 700;
  font-size: 25px;
}

/* Notification Body Styles */

.notification-body {
  margin-top: 3%;
  height: 76vh;
}


.notification-item {
  display: flex;
  width: 375px;
  height: 70px;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  float: left;
  margin: 0;
  border: none;
}

.notification-item-image {
  width: 65px;
  height: 73px;
}

.notification-item-image img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.notification-item-description {
  font-size: 14px;
  font-weight: 500;
  padding-left: 5px;
  width: 247px;
  
}
.notification-item-description p {
    font-size: 12px;
   justify-content: center;
    font-weight: bold;
    padding: 10px 10px;
}

.notification-item-time {
font-size: 14px;
font-weight: 500;
}



/* Add any additional styling as needed */

.notification-item.seen {
  background-color: #f0f0f0; /* Gray background for seen notifications */
}

.notification-item.unseen {
  background-color: #ffffff; /* White background for unseen notifications */
  /* Add any additional styling as needed */
}
