@import url('https://fonts.googleapis.com/css2?family=Glory&display=swap');

body {
  font-family: 'Glory' !important;
}

.zoomDiv{
  box-shadow: 1px 2px 7px -1px;
}
.zoom:hover {
    transform: scale(2); 
}
.multi-range-slider .bar-inner {
  border: 5px solid black !important ;
}
.multi-range-slider .thumb::before{
  height: 25px !important;
  width: 25px !important;
}
.product-hed-sec {
  display: flex;
  justify-content: space-between;
  padding: 0px 4px;
  height: 17px;

}

.header {
  padding: 0px 10px !important;
}

.product-hed-sec p:nth-child(1) {
  color: rgba(0, 0, 0, 1);
  font-size: 15px;
  font-weight: bold;
}

.product-hed-sec p:nth-child(2) {
  color: rgba(102, 102, 102, 1);
  font-size: 12px;
  font-weight: 600;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px !important;
  width: 40% !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  padding: 5px;
  height: 180px;
  object-fit: cover;
  box-shadow: 1px 2px 7px -1px;
  border-radius: 10px;
  margin: 7px 0px;
}

.swiper-pagination {
  display: none;
}

.sildercontentprice p {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.sildercontentprice span {
  font-size: 12px;
  /* line-height: 10px; */
}

.icon-section {
  width: 100%;
  background: black;
  display: flex;
  justify-content: space-between;
  padding: 5px 30px;
  border-radius: 20px;
  height: 70px;
  align-items: center;
}

.icon-section img {
  width: 22px;
  height: 22px;
}

.footer-section {
  position: sticky;
  bottom: 1vh;
  z-index: 10;
}

.categories {
  width: 100%;
  height: auto;
  background: #ffffff;
  position: absolute;
  z-index: 100;
  right: 0%;
  border-radius: 10px 10px 0px 0px;
  bottom: 0px;
  box-shadow: 0px 1px 16px -3px;
  padding-left: 12px;
}

.categoriestagsection {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  height: 45px;
}

.selectcategories {
  width: 100%;
}

.innerfilter {
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  background: transparent !important;
  border: 2px solid #f1f1f1;
  border-radius: 8px;
  margin: 5px 0px;
}

.innerfilter input {
  width: 17px;
}

.maincontentsection {
  padding-top: 151px;
  height: 89vh;
  overflow: scroll;
}

.example {
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  /* Firefox */
}

.innerfilter label {
  font-size: 13px;
  color: #0a0a0a;
  font-weight: 600;
  width: 100%;
}

.categoriestagsection p:nth-child(1) {
  font-size: 19px;
  font-weight: 700;
  color: #1a1a1a;
}

.pricerangsection p {
  font-size: 20px;
  font-weight: 600;
  color: #1a1a1a;
}

.selectcategories .col-6:nth-child(2) {
  padding-right: 0px;
}


/* styles.css */
/* Hide the default checkbox appearance */
input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a circular checkbox appearance using pseudo-element */
.checkmark {
  position: relative;
  display: grid;
  width: 20px;
  height: 18px;
  border: 1px solid #000000;
  border-radius: 50px;
  justify-items: center;
  align-items: center;
}

/* Customize the appearance when the checkbox is checked */
.selectedCheckmark {
  border: 1px solid #ffffff;
  background-color: #000000;
  /* Change to your desired color */
}

/* Add the inner circle for the checked state */
.selectedCheckmark::before {
  content: '';
  position: relative;
  width: 12px;
  height: 12px;
  background-color: rgb(250, 250, 250);
  border-radius: 50%;
}

.selectedCategory {
  background-color: black !important;

}

.selectedCategoryLable {
  color: white !important;
}

.content-button {
  display: flex;
  padding: 10px 12px 9px 4px;
  justify-content: space-between;
}

.content-button button:nth-child(2) {
  background-color: rgba(33, 33, 33, 1);
  border: 1px solid rgba(33, 33, 33, 1);
  padding: 3px 26px;
  color: #fff;
  border-radius: 8px;
}

.content-button button:nth-child(1) {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(33, 33, 33, 1);
  padding: 3px 26px;
  border-radius: 8px;
  color: rgba(33, 33, 33, 1);
}

.allproduct_section {
  height: 100vh;
  background: white;
  width: 100%;
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
}

.content-box {
  width: 100%;
  text-align: center;
  overflow-x: auto;
  height: 67vh;
  position: relative;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.haddingproduct {
  margin-top: 120px;
  display: flex;
  padding: 0px 10px;
  justify-content: space-between;
  font-size: 15px;
  color: rgba(0, 0, 0, 1);
  font-weight: 900;
}

.box-items {
  width: 43%;
  background: rgba(255, 255, 255, 1);
  box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.1);
  margin: 10px 10px;
  border-radius: 10px;
  height: 36vh;
  display: grid;
  align-items: center;
  justify-items: center;
}

.box-items img {
  width: 93%;
  height: 23vh;
  padding: 10px;

}

.haddersilder {
  width: 100%;
  height: 51px;
  position: absolute;
  top: 4px;
  background: #fff;
  left: 2px;
  display: flex;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 0px 3px;
}

.stage {
  display: grid;
  align-items: center;
  justify-items: end;
  position: relative;
  left: 29px;
}

.heartss {
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;

  &.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
  }
}

.producticones {
  display: flex;
  width: 94%;
  justify-content: flex-end;
  position: relative;
  top: 32px;
}

.producticones i {
  cursor: pointer;
}

.box-items img {
  padding: 5px !important;
  box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-top: -8px;
  margin-bottom: 11px;
}
.multi-range-slider{
  margin-top: 10px;
}

.multi-range-slider .bar-right{
  padding: 0px 0px !important;
}
.multi-range-slider .bar-left{
  padding: 0px 0px !important;
}

.tooltip {

  color: black;
  text-align: center;
  border-radius: 4px;
  padding: 2px 5px;
  font-size: 12px;
  z-index: 1;
}

.left-tooltip {
  left: 0;
}

.right-tooltip {
  right: 0;
}

/* Styles for tooltip before and after the thumbs */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.multi-range-slider-container {
  max-width: 600px;
  margin: auto;
}

.divOutput {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.divOutput > div {
  width: 50%;
}
.divOutput > div:first-child {
  text-align: right;
  padding-right: 10px;
}
.divOutput > div:nth-child(2) {
  text-align: left;
  padding-left: 10px;
}
.divOutput span {
  margin: 10px;
}



@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .swiper-slide {
    width: 20% !important;
  }

  .haddersearchcontenar {
    width: 100%;
  }

  .container-fluid {
    margin: 0px !important;
  }

  .haddersearchcontenar {
    padding: 0px !important;
  }

  .haddercontent {
    padding: 6px 2px;
  }

  .box-items {
    width: 22%;
    height: auto;
  }

  .producticonesiped {
    width: 85% !important;
    height: 15px;
  }
  .box-items img{
    height: 20vh;
  }
  .content-box{
    height: 73vh;
  }
  .maincontentsection{
    height: 92vh;
  }
}
.small-font {
  font-size: 12px !important;
}
.disabled-icon {
  pointer-events: none; /* This prevents clicks on the icon */
  opacity: 0.8; /* You can adjust the opacity to make it look disabled */
}
.large-font {
  font-size: 20px !important;
}

@media (max-width: 768px) {
  .mySwiper {
    /* Change the slidesPerView value for tablets */
    /* You can adjust this value based on your preference */
    --tablet-slides-per-view: 2.0;
  }
}