.update_btn_grp {
    display: flex;
    gap: 10px;
    /* margin-top: 10px;
    margin-left: 14px; */
    margin: 12px 0px 0px 0px;
    float: right;
}
.update_quntatity_header {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    /* float: right; */
    width: auto;
    gap: 10px;
    border: 1px solid #AE0617;
    height: auto;
    border-radius: 6px;
    border-radius: 6px;
}
.myCart_exteranal_div{
    position: fixed;
top: 0%;
height: 100vh;
background: #ffffff7a;
left: 0%;
width: 100%;
}
.update_qunt_btn1,
.update_qunt_btn2 {
    border-bottom: none;
    border-top: none;
    height: 22px;
    width: 21px;
    background-color: #AE0617;
    color: #f1f1f1;
    font-weight: 900;
    font-size: 13px;
}

.update_qunt_btn1 {
    border-left: none;
    border-right: 1px solid #AE0617;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.update_qunt_btn2 {
    border-left: 1px solid #AE0617;
    border-right: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.update_qunt_count {
    padding-top: 2px;
    font-size: 13px;
}


.remove_cart_button1 {
    background-color: #AE0617;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}

/* .cart_container{
    display: block;
}

.cart_man{
    display: block;
    width: 100%;
} */
.cart_man_container {
    display: flex;
    width: 100%;
}

.cart_details_container {
    width: 80%;
}

.cart_img_head {
    width: auto;
}

.cart_tag_container {
    display: flex;
    /* width: 50%; */
}

.tag_1 {
    width: 90%;
}

.tag_2 {
    width: 10%;
}

.tag_2 i {
    float: right;
    font-size: 20px;
}

.cart_man_container h4 {
    margin: 0px;
    padding: 0px;
}

.cart_man_container p {
    margin: 0px;
    padding: 0px;
}

.img_cart_item {
    border-radius: 10px;
    height: 100px;
    width: 100px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 18%);
}
.myCart_exteranal_div{
    position: fixed;
    top: 0%;
    height: 100vh;
    background: #ffffff7a;
    left: 0%;
    width: 100%;
}
.cart_details_container {
    margin: 0px 4px;
}

.cart_img_head {
    margin: 0px 8px;
}

.cart_rate_container {
    margin-top: 28px;
}

.cart_man_container {
    background-color: rgb(242, 242, 242);  
    margin-top: 18px;
    border-radius: 10px;
    padding: 8px 6px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 22%);
}

.continue_shoping_man_div {
    width: 100%;
    position: relative;
    bottom: 0px;
    padding: 10px;
    left: 0px;
    /* background-color: #ffff; */
    /* z-index: 10; */
}

.continue_shoping_btn {
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 11px;
    background-color: #AE0617;
    color: #ffff;
    font-weight: 600;

}
/* .colortag_radio_input_dot {
    appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #999;
  position: relative;
  margin-top: 1px;
  }
  
  .colortag_radio_input_dot:checked {
    background-color: #AE0617 !important;
  } */
  /* .colortag_radio_input_dot:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    background-color: #fff !important;
    border-radius: 50%;
  } */

  .tag_width{
    width: 40%;
  }

  /* New chage 28--------------------- */
  .mycart_header{

    float: right;
    font-weight: 900;
}

.mycart_checkmart_css{
display: block;
    /* width: 100%; */
    margin: 49px 19px;
    text-align: center;
}

.mycart_icone{
    font-size: 34px;
    text-align: center;
}

.mycart_cart_text{
    font-size: 17px;
    margin-top: 10px;
}

.mycart_main_div{
position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background: #fff;
    height: 206px;
    border-radius: 10px;
    padding: 10px !important;
    box-shadow: 0 3px 10px rgb(0 0 0 / 40%);
    background-color: rgb(242, 242, 242);

}
.unactiv_cart {
    display: none;
}

.activ_cart {
    display: block;
}
/* new change------------------- */
@media screen and (min-width:768px) and (max-width:1024px) {
    .img_cart_item {
        height: 146px;
        width: 146px;
    }
    .tag_1 h4{
        font-size: 24px;
    }
    .tag_1 p{
        font-size: 18px;
    }
    .cart_rate_container {
        margin-top: 34px;
    }
    .update_qunt_btn1, .update_qunt_btn2 {
        height: 31px;
        width: 34px;
        font-size: 20px;
        text-align: center !important;
    }
    .update_qunt_count {
        padding-top: 4px;
        font-size: 16px;
    }
    .tag_2 i{
        font-size: 24px;
    }
    .continue_shoping_btn {
        font-size: 22px;
    }

    .colortag_radio_input_dot {
    margin-top: 5px;
    }
}