body{
  padding: 0 !important;
  margin: 0 !important;
  

}

h1 {
  font-size: 18px;
}
.app-container{
  width: 100% !important;
  float: left;
  height: 100vh;
}
.menu-bar {
  position: absolute;
  width: 35px;
  height: 35px;
  left: 20px;
  top: 35px;
  z-index: 10;
  
}


.image-swiper {
  width: 100% !important;
   position: absolute; 
  z-index: 0;
}

.swiper-slide img {
  width: 100% !important;
   object-fit: cover; 
}


h1 {
  font-size: 24px;
}


.artical-name {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.753);
  border: none;
  box-shadow: 20px -10px 40px 20px rgba(255, 255, 255, 0.765) ;
   height: 42px;
  top: -200px;
  text-align: center;
  font-family: 'Glory';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  z-index: 999;
  color: #000000;
  position: relative;
}



.main-product-detail {
  position: relative;
  height: 50vh;
  background: #FFFFFF;
  border-radius: 30px 30px 0px 0px;
  z-index: 999;
  top: -200px;
  box-shadow: 0px -3px 4px 0px rgb(183, 173, 173);
}

.product-detail {
  display: flex;
  width: 95% !important;
  margin: auto;
  padding-top: 3%;
}
.product-detail-sec{
margin-right: 5%;
width: 50%;
overflow: auto;

}
.product-detail-sec2{
  width: 50%;
}




.size-container1 {
  display: flex;
  height: 53px;
  border: 1px solid #ded6d6;
  text-align: center;
  border-radius: 12px;
  background: #F4F4F4;
  padding: 6px;
  justify-content: center;
}

.size-label{
  font-size: 15px;
  font-weight: bolder;
  color: black;
}

.size-label1{
  font-size: 15px;
  font-weight:bolder;
  color: black;
}



.size-container2 {
 height: 53px;
  border: 1px solid #ded6d6;
  border-radius: 12px;
  background: #F4F4F4;
 padding: 12px;
 display: flex;   
 justify-content: center;

}



.size-options {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  
  
}

.size {
  display: flex;

}

.size a {
  width: 40px;
  height: 38px;
  border: 1px solid #b3a8a8;
  justify-content: center;
  font-weight: bold;
  border-radius: 100%;
  margin-left: 5%;
  text-decoration: none;
  color: black;
  font-weight: 100;
  margin-left: 8px;
  padding: 4px;
}

.product-detail-sec3{
width: 95% !important;
margin: auto;
margin-top: 4%;
}
.head-gid{
width: 100%;

}

.container-gid{
  width: 100%;
}

.color-div{

width: 31%;

float: left;


}
.color-title{
width: 100%;
font-size: 15px;
font-weight: bolder;
color: black;



}
.available-div{
width: 37%;
float: left;

}

.available-title{
width: 100%;
font-size: 15px;
font-weight: bolder;
color: black;
margin-left: 12px;

}

.qty-div{
width: 31%;
float: left;


}

.qty-title{
width: 100%;
font-size: 15px;
font-weight: bolder;
color: black;
margin-left:20px ;
}

.body-main-con{
justify-content: space-between;

}

.color-box-div{
width: 31%;
}

.color-box{
width: 100%;
box-sizing: border-box;
border: 1px solid #ded6d6;
background-color:white;
border-radius: 10px;
height: 40px;
text-align: center;
padding: 7px 0px;
}

.available-box-div{
width: 37%;

}
.available-box{
width: 100%;
height: 40px;
text-align: center;
padding: 7px 0px;
box-sizing: border-box;
border: 1px solid #ded6d6;
background-color: white;
border-radius: 10px;
}

.qty-box-div{
width: 31%;
display: flex;
}
.qty-box{
width: 100%;
height: 40px;
text-align: center;
display: flex;
padding: 7px 0px;
box-sizing: border-box;
border: 1px solid #ded6d6;
background-color: white;
border-radius: 10px;
}
.top-row{
width: 100%;
}
.box1{
width: 33%;




}
.box1 button{
float: left;
border-radius: 10px;
padding: 3px 10px;
margin: -8px 0px 0px 0px;
height: 40px;
background-color: white;

}
.box2{
width: 33%;
}
.box button{
justify-content: center;
}

.box3 {
width: 33%;
margin-left: 5px;

}
.box3 button{
float: right;
border-radius:10px ;
margin: -7px 0px 5px 0px;
padding: 5px 9px;
background-color: white;
}
.top-row{
display: flex;

}



.article-ratio-Section{
width: 95% !important;
display: flex;
margin: auto;
text-align: center;
margin-top: 5%;

}
.articallabel{
  text-align: left;
  font-weight:bolder ;
}
.articallabel1{
  text-align: left;
  font-weight: bolder;
}

.article-ratio-label{
font-size: 12px;
font-weight: 600;
float: left;
width: 50%;
}

.article-ratio-label1{
font-size: 12px;
display: flex;
top: 10%;
width: 50%;
font-weight: 600;
float: right;
position: absolute;
left: 30%;
}
.article-ratio-container{
width: 131px;
}
.article-ratio-content{
width: 100%;
font-size: 18px;
font-weight: 500;
box-sizing: border-box;
border: 1px solid #ded6d6;
background-color: #F4F4F4;
border-radius: 10px;
float: left;
height: 53px;
padding: 10px 0px;
}



.article-rate-container{
width: 30%;
float: left;
margin-left: 25%;
}
.article-rate-content{
width: 100%;
font-size: 18px;
font-weight: 500;
box-sizing: border-box;
border: 1px solid #ded6d6;
background-color: #F4F4F4;
border-radius: 10px;
float: right;
height: 53px;
float: right;
padding: 10px 0px;

}

.total-price-container{
width: 95% !important;
display: flex;
margin: auto;
margin-top: 10%;
position: relative;
top: 123px;
}
.total-price-title{
justify-content: center;
font-size: 10px;
font-weight: 400;
}
.main-total-div{
width: 30%;
}
.add-to-card-container{
margin-left: 31%;
width: 50%;
}
.total-price-dig{
font-size: 18px;
font-weight: bolder;
color: black;

}

.add-to-card-container button{
float: right;
background-color: #212121;
color: white;
width: 208px;
height: 50px;
border-radius: 12px;


}
.add-to-cart-button img{
margin-right: 5%;
margin-bottom: 2%;
}



@media only screen and (max-width: 767px){
.px-3 {
  padding-right: 1px !important;
  padding-left: 0px !important;}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait){
.px-3 {
  padding-right: 0.8rem !important; 
  padding-left: 0.8rem !important;
  padding: 0rem !important;}
}